<!DOCTYPE html>
<html>
    <head>
        <title>Online Shop</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
  	
    <body>
        <div class="header-wrapper">

        </div>
        <a href="/">Home</a>

        <ul class="menu">
            <li><a href="/categories/mens">Mens</a></li>
            <li><a href="/categories/womens">Womens</a></li>
        </ul>