<!DOCTYPE html>
<html>
    <head>
        <title>Online Shop</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
  	
    <body>
        <div class="header-wrapper">

        </div>
        <a href="/">Home</a>

        <ul class="menu">
            <li><a href="/categories/mens">Mens</a></li>
            <li><a href="/categories/womens">Womens</a></li>
        </ul>